.footer-bar{
    background-color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 80px;
    position: fixed;
    bottom: 0;
}

.footer-company-title{
    margin: 10px;
    text-decoration: none;
    color: #060b26;
}

.footer-creator {
    margin: 10px;
    text-decoration: none;
    color: #060b26;
}

@media screen and (max-width: 800px), screen and (max-height: 800px) {
    .footer-bar {
        display: none;
    }
}